# macOS system files
**/.DS_Store

# Python cache and bytecode files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# mlruns
mlruns/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables files
.env
*.env

# Logs
*.log

# Ignore data, models, and artifacts directories since they are tracked by DVC
# Ignore normal data files inside data/, models/, artifacts/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/final/*
!data/final/.gitkeep
artifacts/models/*
!artifacts/models/.gitkeep
artifacts/plots/*
!artifacts/plots/.gitkeep
artifacts/**/*.pkl


# Do NOT ignore the directories themselves, so Git can traverse into them
!data/
!data/**/
!models/
!models/**/
!artifacts/
!artifacts/**/

# Do NOT ignore the DVC metafiles, we want to track these
!data/**/*.dvc
!models/**/*.dvc
!artifacts/**/*.dvc

# Keep .gitkeep files (optional) to maintain empty directories if needed
!data/.gitkeep
!models/.gitkeep
!artifacts/.gitkeep

# VSCode settings (optional)
.vscode/

mlruns/*/
!mlruns/.gitkeep  # si quieres mantener la carpeta vacía en el repo
/artifacts
